body {
    padding: 0;
    margin: 0;
}

.titleOfField{
    text-align: center;
}

.titleOfField h1{
    margin: 0;   
}

.field {
    background-color: #009900;
    width: 1300px;
    height: 80vh;
    position: relative;
    border: 5px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
    overflow: hidden;
    display: flex;
}

.middle {
    width: 30%;
    height: 100%;
    display: block;
    position: relative;
}

.middle-line {
    position: relative;
    margin-left: 50%;
    width: 3px;
    height: 100%;
    background-color: white;
}

.middle-circle {
    position: absolute;
    width: 150px;
    height: 150px;
    margin: 50% 50% 50% 30%;
    border-radius: 100px;
    border: 3px solid white;
}

.middle-circle-center-point {
    width: 15px;
    height: 15px;
    background-color: white;
    margin: 45% 50% 50% 46%;
    border-radius: 50%;
}

.right-side {
    width: 35%;
    height: 100%;
}

.right-side .big-rectangle {
    height: 70%;
    width: 50%;
    margin: 18% 0 20% 50%;
    border: 3px solid white;
}

.right-side .big-rectangle .little-rectangle {
    height: 70%;
    width: 50%;
    margin: 25% 0 20% 50%;
    border: 3px solid white;
}

.left-side {
    width: 35%;
    height: 100%;
}

.left-side .big-rectangle {
    height: 70%;
    width: 50%;
    margin: 18% 50% 20% -1%;
    border: 3px solid white;
}

.left-side .big-rectangle .little-rectangle {
    height: 70%;
    width: 50%;
    margin: 25% 50% 20% -1%;
    border: 3px solid white;
}